---

import {profileConfig} from "../config";

---

<div class="card-base max-w-[var(--page-width)] min-h-[4.5rem] rounded-b-none mx-auto flex items-center px-6">
    <div class="transition text-50 text-sm">
        <a class="link text-[var(--primary)] font-medium" href="https://404salad.github.io/webring/magitian/previous">⟵</a>
        <a class="link text-[var(--primary)] font-medium" href="https://404salad.github.io/webring">Circle of VITians</a>
        <a class="link text-[var(--primary)] font-medium" href="https://404salad.github.io/webring/magitian/next">⟶</a>
    </div>

    <div class="transition text-50 text-sm">
        © 2025 {profileConfig.name}. All Rights Reserved.
        <br>
        Powered by <a class="link text-[var(--primary)] font-medium" target="_blank" href="https://github.com/saicaca/fuwari">Fuwari</a>
    </div>
</div>